@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
	scroll-padding: 70px;
}

body {
	background-color: #F5F6F8;
}

h1,
h2,
h3,
h4,
p,
span,
a,
li,
button,
div {
	font-family: "Cairo", sans-serif;
}

.squared-bullets>li::marker {
	font-size: 12px;
}